* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  outline : none;
  -webkit-font-smoothing: antialiased;
  margin : 0;
  padding : 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body, html {
  height : 100%;
  width : 100%;
  overflow : hidden;
}

body {
  font : 62.5% 'Montserrat', sans-serif;
  color : #29292A;
}

h4 {
  font-weight : normal;
  font-size : 14px;
}

ul {
  list-style : none;
}

.clearfix {
  &:before, &:after {
    content : " ";
    display : table;
  }
  &:after {
    clear : both;
  }
}

.ui-row {
  position : relative;
  display : -webkit-flex;
  display : -ms-flexbox;
  display : flex;
  -webkit-flex-wrap : wrap;
  -ms-flex-wrap : wrap;
  flex-wrap : wrap;
  width : 100%;
  -webkit-flex-shrink : 0;
  -ms-flex-negative : 0;
  flex-shrink : 0;

  &> .ui-column {
    position : relative;
    flex : 1;
  }

  &> .react-draggable {
    position : relative;
    cursor : col-resize;
    width : 5px;
    left : 0 !important;
    border-left : 1px solid #d1d1d1;
    border-right : 1px solid #d1d1d1;
    background-color : #fff;
    justify-content: center;
    display : flex;
    justify-content : center;
    align-items : center;

    &> .handler-icon {
      width : 1px;
      height : 15px;
      border-right : 1px dotted #a1a1a1;
    }
  }
}

.embeds-list {
  background-color : #f2f2f2;
  padding : 1px 0 8px;
  overflow-y : auto;
  -webkit-overflow-scrolling : touch;
}

// * {
//   -webkit-box-sizing : border-box;
//   -moz-box-sizing : border-box;
//   box-sizing : border-box;
//   outline : none;
//   -webkit-font-smoothing: antialiased;
//   margin : 0;
//   padding : 0;
// }
//
// body, html {
//   height : 100%;
//   width : 100%;
//   overflow : hidden;
// }
//
// body {
//   font : 62.5% 'Montserrat', sans-serif;
//   color : #29292A;
// }
//
// h4 {
//   font-weight : normal;
//   font-size : 14px;
// }
//
// ul {
//   list-style : none;
// }
//
// .view {
//   // position : relative;
// }
//
// article {
//   float : left;
//   overflow-y : auto;
//   padding : 0;
//   margin : 0;
// }
//
// aside {
//   float : right;
//   overflow-y : auto;
//   // border-left : 1px solid #d1d1d1;
//   padding : 0;
// }
//
// .react-draggable {
//   position: absolute;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
//   width : 3px;
//   // border-left : 1px solid #d1d1d1;
//   // border-right : 1px solid #d1d1d1;
//   cursor: ew-resize;
//   float : left;
//   z-index : 9999;
// }
//
// .embeds-list {
//   background-color : #f2f2f2;
//   box-shadow : inset 0 0 4px rgba(0,0,0,.35);
//   padding : 1px 5px 5px;
// }
//
.embed {
  padding : 12px 10px 5px;
  background-color : #fff;
  margin : 8px auto 0;
  box-shadow : 0 0 3px rgba(0,0,0,.35);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:first-child {
    margin-top : 6px;
  }

  .embed-body {
    margin : 0 auto;
    position : relative;

    .embed-overlay {
      position : absolute;
      left : 0;
      top : 0;
      width : 100%;
      height : 100%;
      cursor : pointer;
    }

    >* {
      margin : 0 auto;

      iframe + div {
        display : none;
      }
    }
  }

  .embed-footer {
    margin : 0 auto;
    padding : 10px 0 6px;
  }
}