* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  outline : none;
  -webkit-font-smoothing: antialiased;
  margin : 0;
  padding : 0;
}

ul {
  list-style : none;
}

.embed {
  width : 480px;
  padding : 10px 0;
  margin : 0 auto;

  .embed-rich {
    margin : 0 auto;

    iframe + div {
      display : none;
    }
  }

  .embed-footer {
    margin : 0 auto;
  }
}