<!DOCTYPE html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script>
    window._INFO = <%- info %>;
  </script>
  <script src="assets/vendor.bundle.js" defer></script>
  <script src="assets/app.bundle.js" defer></script>
</head>

<body>

</body>

</html>