<!DOCTYPE html>

<head>
  <script>
    window._INFO = <%- info %>;
  </script>
  <script src="assets/vendor.bundle.js" defer></script>
  <script src="assets/app.bundle.js" defer></script>
</head>

<body>

</body>

</html>